/*.Post{
	border:2px solid black;
	width:250px;
	max-width: 250px;
	margin:2px;
}*/

.Post{
	
 width: 250px;
    padding: 16px;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;

}